@page
@model kiyotaka.Web.Pages.Admin.Animes.DescModel
@{

}
<h2>Description</h2>
<p>
    <div class="bottom-0 start-0 p-2 w-100" style="background-color: rgba(146,146,146,0.5);">
        <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!" style="text-shadow: 1px 1px 1px #000;">anime.ShortDescription</a>
    </div>
</p>
<a class="navbar-brand text-danger" asp-area="" asp-page="/Admin/Animes/List">Return</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
